@tailwind base;
@tailwind components;
@tailwind utilities;



/* Add negative margin for mobile screens */
@media (max-width: 765px) {
  .pdf-container {
    margin-top: -700px; /* Adjust the value as needed */
    margin-bottom: -500px;
  }
}


/* transitions: */


/* Assuming the container for your routes has a class named "route-container" */
.route-container {
  position: relative;
  
}

.slide-enter, .slide-exit {
  position: absolute;
  width: 100%;
}

.slide-enter {
  transform: translateX(100%); /* Adjust the percentage as needed */
  opacity: 0;
}

.slide-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}

.slide-exit {
  transform: translateX(0);
  opacity: 1;
}

.slide-exit-active {
  transform: translateX(-30%); /* Adjust the percentage as needed */
  opacity: 0;
  transition: transform 500ms ease-in-out, opacity 500ms ease-in-out;
}
